<div class="admin">
    <div class="border col-7">
        <br>
        <h1>コース写真登録</h1>
        <br>
        <div class="row">
            <div class="col-md">
                <%= form_for @course do |f| %>
                    <form>
                        <div class="form-group">
                            <label>料理名：<%= f.text_field :name, {class: "form-control"} %></label>
                            <br>
                            <label>詳細説明：<%= f.text_field :detail, {class: "form-control"} %></label>
                            <br>
                            <label>写真：<br><%= f.file_field :image, :class => "course_image"%></label>
                            <br>
                            <br>
                            <%= f.submit "登録", class: "btn btn-primary" %>
                        </div>
                    </form>
                <% end %>
                <a href="/admin"><button type="button" class="btn btn-success">トップに戻る</button></a>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
